* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #7858A6;
}

.btn {
    background-color: #371B58;
    color: white;
}

#container {
    height: 100vh;
    width: 100vw;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 4px;
}

.video {
    background-color: black;
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
}

.camera-btn {
    padding: 4px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: medium;
    font-weight: 600;
}

.color-scheme {
    color: white;
}

footer {
    margin-top: 50px;
    text-align: center;
}
